@import "../../assets/colors";

.sign-in-title {
  margin-top: 100px !important;
  color: $yellow;
}
.sign-in-subtitle {
  color: $yellow;
  font-size: 20px;
  font-weight: lighter;
}

.input-wrapper-signin {
  display: flex;
  align-items: center;
  width: 75%;
  height: 15%;
  border-radius: 2px;
  transition: height .3s, padding .3s;
}