@import "../../assets/colors";

.button-wrapper {
  width: 100%;
}

.buttons-wrapper-save-time {
  width: 70%;
  height: 60px;
}
.try-free-button {
  font-size: 18px !important;
  color: $bold-blue !important;
  height: 100%;
}

.try-free-button:hover {
  border: 1px solid $lighter-blue !important;
  transition-duration: 0.2s;
}